*, p {
	box-sizing: border-box;
	font-family: Verdana, 'Geneva', serif;
	font-size: 1.8em;
	font-weight: normal;
}
body {
	background-image: url("../images/tibet.jpg");
}

#header {
	text-align: center;
}

.game-container {
	margin: 5% 10% 10% 10%;
	background-color: #FFF;
	padding: 50px 50px;
	position: absolute;
}

.game-details {
	margin-top: 200px;
	text-align: right;
}
